In [28]:
import json
import pandas as pd

In [78]:
df = pd.read_json("response.json", encoding='utf-8')
df

                                               dates
0  {'meetingDate': 1629901800, 'sections': [{'dis...

In [79]:
dates = df['dates'].apply(pd.Series)
dates

   meetingDate                                           sections
0   1629901800  [{'displayName': 'Horses', 'displayOrder': 100...

In [80]:
# Converting dict column to series

dates = pd.concat([dates['sections'].apply(pd.Series), dates.drop(['sections','meetingDate'],axis = 1)],axis = 1)

In [81]:
dates[0]

0    {'displayName': 'Horses', 'displayOrder': 100,...
Name: 0, dtype: object

In [104]:
# Normalizing the nested json

meetings = pd.DataFrame()
for i in dates.columns:
#     print(i)
    norm = pd.json_normalize(dates[i], record_path = ['meetings'], meta = ["displayName", "displayOrder", "raceType"])
    meetings = meetings.append(norm, ignore_index = True)

meetings.head()

,id,name,classId,isInternational,className,regionName,streamingAvailable,availableStreamingType,mbsAvailable,events,pools,streaming.liveStream.provider,streaming.replay.provider,streaming,displayName,displayOrder,raceType
0,336,Echuca,1,False,Horses - Aus/NZ,Australia,True,tvn,False,"[{'id': 6040123, 'raceNumber': 1, 'startTime':...","[{'id': 5285885, 'poolType': 'TBL', 'eventIds'...",sky,rvic,NaN,Horses,100,horse
1,651,Wagga,1,False,Horses - Aus/NZ,Australia,False,None,False,"[{'id': 6040085, 'raceNumber': 1, 'startTime':...","[{'id': 5285920, 'poolType': 'TBL', 'eventIds'...",sky,NaN,NaN,Horses,100,horse
2,458,Mackay,1,False,Horses - Aus/NZ,Australia,False,None,False,"[{'id': 6040141, 'raceNumber': 1, 'startTime':...","[{'id': 5285898, 'poolType': 'TBL', 'eventIds'...",sky,NaN,NaN,Horses,100,horse
3,526,Northam,1,False,Horses - Aus/NZ,Australia,False,None,False,"[{'id': 6038522, 'raceNumber': 1, 'startTime':...","[{'id': 5285910, 'poolType': 'TBL', 'eventIds'...",sky,NaN,NaN,Horses,100,horse
4,3841,Bellewstown,2,True,Horses - International,Ireland,False,None,False,"[{'id': 6039192, 'raceNumber': 1, 'startTime':...",[],NaN,NaN,NaN,Horses,100,horse

In [110]:
# Converting events to series

events = pd.concat([meetings['events'].apply(pd.Series)],axis = 1)

In [114]:
# events
import numpy as np
events1 = pd.DataFrame()
for i in events.columns:
#     print(i)
    norm = pd.json_normalize(events[i].replace(np.nan, 0), meta = ["id","raceNumber","startTime","distance","httpLink"])
    events1 = events1.append(norm, ignore_index = True)

events1.head()

AttributeError: 'int' object has no attribute 'items'